body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    margin: auto;
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    background-color: dodgerblue;
}

.l1{
    text-align: left;
    color: white;
}

.mb-1{
    background-color: rgb(61, 170, 234);
    color: white;
}

.md-3 {
    margin: auto;
    text-align: center;
}

.card{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 50%;
    gap: 10px;
}

button{
    width: 25%;
}

.form-check-label{
    text-align: left;
}

/* Share Buttons */

.share-btn-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .share-btn-container a i {
    font-size: 32px;
  }
  
  .share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
  }
  
  .share-btn-container a:hover {
    transform: scale(1.2);
  }
  
  .share-btn-container .fa-facebook {
    color: #3b5998;
  }
  
  .share-btn-container .fa-twitter {
    color: #1da1f2;
  }
  
  .share-btn-container .fa-linkedin {
    color: #0077b5;
  }
  
  .share-btn-container .fa-pinterest {
    color: #bd081c;
  }
  
  .share-btn-container .fa-whatsapp {
    color: #25d366;
  }